.frame_wrapper {
  position:relative;
  width:100%;
  height:0;
}
.frame_wrapper iframe {
  position:absolute;
  top:0;
  left:0;
  width:95%;
  height:100%;
}
@media all and (orientation: portrait) {
  .frame_wrapper {
    padding-top:120%;
  }
}
@media all and (orientation: landscape) {
  .frame_wrapper {
    padding-top:60%;
  }
}
